* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input,
textarea,
select {
	border: 1px solid #ccc;
	margin-bottom: 15px;
	width: 100%;
}
input,
textarea {
	padding: 15px 20px;
}
input,
textarea,
select {
	padding: 15px 20px;
	font-size: 1em;
}

button {
	padding: 15px 15px;
	font-size: 15px;
	color: white;
	background: #4141ff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.3s ease;
}
button:hover {
	background: #0000ee;
}
button.block {
	display: block;
	width: 100%;
}
.btn-green {
	background: #4cb765;
	color: white;
}
.btn-green:hover {
	background: #4cb765;
}
.btn-red {
	background: #d9534f;
	color: white;
}
.btn-red:hover {
	background: #d9534f;
}
.formGroup {
	display: flex;
	justify-content: space-between;
}
.formGroup .formElement {
	width: 49%;
}
.formElement {
	margin-bottom: 30px;
}
.react-datepicker-wrapper {
	width: 100%;
}
select {
	padding: 14px 10px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: left;
}
.pageTitle {
	margin-bottom: 50px;
	text-align: center;
}
input[type='checkbox'] {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: auto;
	margin-bottom: 0;
}
.mt-5 {
	margin-top: 50px;
}
.text-center {
	text-align: center;
}
.errorText {
	color: red;
	margin-bottom: 10px;
}
